*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
html,body{ 
    width: 100%;
    height: 100%; 
}
#main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgb(190, 237, 190);
    
}
#panel{
     overflow: hidden;
    width: 80%;
    height: 80%;
    background-color: whitesmoke;
    border-radius: 7px;
    
}
#top-panel{
    display: flex;
    padding: 0px 35%;
    align-items: center;
    justify-content: space-between;
    color: white;
    width: 100%;
    height: 100px;
    background-color: rgb(90, 185, 90);
}
.element{
    display: flex;
    align-items: center;
    gap: 20px;

}
.box{
    color: black;
    font-weight: 700;
    font-size: 20px;
    padding: 10px 20px;
    background-color: white;
    border-radius: 5px;

}
#buttom-panel{
    justify-content: center;
    align-items: center;

    width: 100%;
    display: flex;
    height: calc(100% - 100px);
    background-color: rgb(226, 236, 231);
    
    flex-wrap: wrap;
    gap: 10px;
    padding: 20px;

    
}
.bubble{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: rgb(162, 218, 113);
    border-radius: 50%;
    color: white;
}
.bubble:hover{
    cursor: pointer;
    background-color: #e1a2a2;
}